
.documento {
	height: 40px;
  	border: 1px solid;
  	border-radius: 5px;
  	margin-bottom: 5px;
	position: relative;
}

#plantillas {
	display: none;
}

#documentos {
	
}

.datos_postulante {
	padding: 10px 0px 10px 0px;
	height: 55px;
	position: absolute;
	top: 50px;
	left: 16px;
	right: 0px;
}

#nombre_postulante {
	font-size: 28px;
  	font-weight: bold;
	display: inline-block;
}

#dni_postulante {
	font-size: 20px;
  	display: inline-block;
  	margin-left: 15px;
}

#contenedor_perfiles {
	
}

#titulo_perfiles {
	font-size: 19px;
  	margin-top: 23px;
}

#panel_perfil {
	position: absolute;
	right: 0px;
	top: 90px;
	left: 325px;
	bottom: 0px;
}

.perfil {
	cursor: pointer;
	height: 70px;
}

.perfil .ponderacion_perfil{
	position: absolute;
	right: 10px;
  	top: 10px;	
}

.perfil .nombre_perfil{
	cursor: pointer;
}
.documento #nombre_documento {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: rgb(228, 223, 223);
	border-radius: 5px 5px 5px 5px;
	/* vertical-align: middle; */
	padding: 9px;
  	font-size: 17px;
}

.documento #cantidad_fojas {
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-radius: 0px 5px 5px 0px;
	border: 0px solid;
	border-left: 0px solid;
	width: 100px;
	padding: 5px;
	background-color: rgb(255, 249, 187);
}

.documento.presentado #cantidad_fojas{
	background-color: white !important;
}

#btn_guardar {
	float:right;
	margin-top: 5px;
}

#titulo_documentos {
	font-size: 19px;
	margin-top: 22px;
	display: inline-block;
	margin-bottom: 2px;
}

#perfiles_concursados {
  	display: inline-block;
  	position: absolute;
  	left: 16px;
  	top: 90px;
  	bottom: 0px;
	width: 300px;
}

#titulo_fojas {
  	display: inline-block;
  	position: absolute;
  	top: 25px;
  	right: 37px;
  	font-size: 18px;
}

#contenedor_resultado_busqueda {
	position: relative; 
	display: none;
}

#panel_agregar_expediente {
	
}
